<div class='post-card-container'>
    <h3 class='post-title'><%=post.title%></h3>
    <p class='post-text'>
        <%=post.text%>
    </p>
    <div class='comments-likes-count-container'>
        <div>comments:<%=post.comments.count%> </div> 
        <div>likes:<%=post.likes.count%> </div> 
    </div>
</div>