<div class='user-card-main-container'>
    <img class='profile-image' src= '<%= user.photo %>' alt="profile_pic" />
    <div class='user-details-container'>
        <h2 class='username-text'>  <%= user.name %> </h2>
        <span class='number-of-posts'>Number of posts: <%= user.post_counter %> </span>
    </div>
</div>